<div class="container">
    <button class="btn btn-sm btn-warning" (click)="showAddForm=!showAddForm" [innerText]="showAddForm?'Hide form':'Create a product'"></button>
    <div class="card" *ngIf="showAddForm">
        <div class="card-header">Create a new product</div>
        <div class="card-body">
            <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="productName">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" formControlName="price">
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="text" class="form-control" formControlName="quantity">
                </div>
                <div class="form-group">
                    <label>Promotion</label>
                    <input type="text" class="form-control" formControlName="promotionPrice">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input type="text" class="form-control" formControlName="image">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Promotion</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; let i = index;">
                <td>{{i+1}}</td>
                <td [innerText]="item.productName"></td>
                <td>{{item.price}}</td>
                <td>{{item.promotionPrice}}</td>
                <td>{{item.quantity}}</td>
                <td><img [src]="item.image" [alt]="item.productName" width="50px" height="60px"></td>
                <td>
                    <div class="input-group">
                        <button class="btn btn-sm btn-danger" (click)="deleteProduct(item.id)">Delete</button>
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#updateModal" (click)="getUpdateForm(item)">Update</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true" *ngIf="showUpdateForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="updateProductForm">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="productName">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" formControlName="price">
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control" formControlName="quantity">
                        </div>
                        <div class="form-group">
                            <label>Promotion</label>
                            <input type="text" class="form-control" formControlName="promotionPrice">
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input type="text" class="form-control" formControlName="image">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProduct()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>